*{
    padding: 0;
    margin: 0;
}

.container{
    width: 100%;
    height: auto;
}
.header{
    width: 100%;
    height: 90vh;
    background-image: url(/images/bg-hero-desktop.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: hsl(192, 66%, 86%);
}
.navbar{
    width: 90%;
    height: 40px;
    margin: auto;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    padding-left: 30px;
}
.logo img{
    width: 90%;
    height: 30px;
}
.navbtn{
    padding-right: 30px;
}
#btn{
    width: 100px;
    height: 30px;
    background-color: rgb(255, 255, 255);
    border: 0;
    border-radius: 20px;
    color: rgb(0, 0, 0);
    font-size: 15px;
}
.content{
    width: 90%;
    height: 60vh;
    margin: auto;
    margin-top: 100px;
    display: flex;
}
.discription{
    width: 50%;
    height: 60vh;
}
.inner{
    width: 90%;
    height: 50vh;
    margin: auto;
    margin-top: 2rem;
    padding-left: 5px;
}
.inner h1{
    font-size: 50px;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 5px;
}
.inner p{
    font-size: 25px;
    font-weight: 300;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 15px;
}
.inner button{
    width: 200px;
    height: 40px;
    border: 0;
    border-radius: 20px;
    color: #fff;
    background-color: hsl(322, 100%, 66%);
}
.img1{
    width: 50%;
    height: 60vh;
    display: flex;
    align-items: center;
}
.img1 img{
    width: 90%;
    height: 50vh;
}

.msg-box{
    width: 80%;
    height: 50vh;
    margin: auto;
    margin-top: 40px;
    display: flex;
    align-items: center;
    box-shadow: 2px 1px 2px 2px rgba(41, 38, 38, 0.384);
}
.left{
    width: 50%;
    height: 40vh;
}
.left h1{
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 75px;
    margin-left: 75px;
}
.left p{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 25px;
    margin-left: 75px;
    margin-right: 75px;
}
.right{
    width: 50%;
    height: 40vh;
}
.right img{
    width: 55%;
    height: 40vh;
    display: flex;
    margin: auto;
}